:root {
  --blue1: #0288d1;
  --blue2: #199be2;
  --blue3: #a2deff;
  --blue4: #daeffb;
  --red1: #be0000;
  --red2: #ff0000;
  --red3: #ffa3a3;
  --red4: #ffd6d6;
  --green1: #1db954;
  --green2: #23dc64;
  --green3: #b0f3c7;
  --green4: #dcf9e6;
  --white: #ffffff;
  --mainGradient: linear-gradient(
    160deg,
    #0288d1 0%,
    #199be2 33%,
    #a2deff 66% 100%
  );
}

button.ui.blue.right.floated.button {
  background-color: var(--blue4);
  color: var(--blue1);
}
button.ui.red.right.floated.button {
  background-color: var(--red4);
  color: var(--red1);
}
button.ui.positive.button {
  background-color: var(--green2);
  color: var(--white);
}
button.ui.positive.right.floated.button {
  background-color: var(--green4);
  color: var(--green1);
}
button.ui.blue.basic.button {
  color: var(--blue1) !important;
}
.ui .container {
  align-items: center !important;
}
.ui.container{
  width: 90%;
}
.routerContainer{
  min-height: 420px;  
}
.NotFoundContainer{
  display: block;
  margin-bottom: 100px;
}
.NotFoundImgContainer{
  display: flex;
  justify-content: center;
}
.NotFoundContentContainer{
  display: block;
  margin-top: 30px;
}
.NotFoundContentContainer h2{
  display: flex;
  justify-content: center;
}
.NotFoundGoBack{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.NotFoundSpanTxt{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-weight: 400;
}
.Page404Img{
  width: 50vw !important;
  height: 50vh !important;
}
.ui.cards {
  justify-content: center;
}