.profileBioCard {
  width: 80vw;
}
.cardHeaderProfile .MuiCardHeader-title {
  font-size: 25px;
  font-family: "Montserrat" !important;
  font-weight: 600;
}
.cardHeaderProfile .MuiCardHeader-subheader {
  font-family: "Montserrat" !important;
  font-weight: 500;
  font-size: 15px;
}
.profileBioAvatar {
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
}
.MuiTabs-indicator {
  background-color: #0288d1 !important;
  width: 3px !important;
}
.profileUserPhoto {
  width: 100%;
  display: flex;
  justify-content: space-evenly !important;
  flex-wrap: wrap;
  margin-top: 10px;
}
.profileUserPhotos {
  display: flex;
  justify-content: flex-end;
  max-width: 15rem;
  max-height: 15rem;
}
.profileUploadPhoto {
  display: flex;
  justify-content: flex-end;
  max-width: 20rem;
}
.MuiPaper-elevation1 {
  margin-top: 10px;
}
.profileUserPhotosButtons {
  display: flex;
  justify-content: center !important;
  width: 100%;
}
.labelForUploadSteps {
  display: flex;
  justify-content: center;
  color: #0288d1;
}
.profileUserPhotosButton {
  width: 100%;
}
.profileEventsContainer {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}
.profileEventCard {
  min-height: 100%;
}
.profileEventTitle {
  font-family: "Montserrat" !important;
  font-weight: 700;
  font-size: 1.2rem;
  color: #0288d1;
  display: flex;
  justify-content: start;
  padding-left: 5px;
}
.profileEventDesc {
  font-family: "Montserrat" !important;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  max-width: 15rem;
  padding-left: 5px;
  min-height: 3rem;
}
.seeMoreProfileEvent {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  margin-top: 20px;
  margin-bottom: 15px;
}
