.dashboardPostsContent {
  font-family: "Poppins";
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.postsInfoCard {
  background-color: #ffffff;
  width: 258px;
  height: 134px;
  /* padding: 3% 9%; */
  border-radius: 8px;
  border: 2px solid #dfe0eb;
  transition: all 0.25s ease-in !important;
}
.postsInfoCard:hover {
  border: 2px solid #3751ff;
  transition: all 0.25s ease-in !important;
}
.postsInfoCard:hover .infoCardTitle, .postsInfoCard:hover .infoCardStat{
    color: #3751ff;
    transition: all 0.25s ease-in !important;
}
.infoCardTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    font-size: 19px;
    font-weight: 600;
    color: #9fa2b4;
    transition: all 0.25s ease-in !important;
}
.infoCardStat {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #334d6e;
    transition: all 0.25s ease-in !important;
}