* {
  outline: none !important;
}
.dashboardPostsContent {
  font-family: "Poppins";
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.dashboardPostsStats {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.PostsTableTopbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 40px;
}
.PostsTableTopbar span {
  margin-left: 10px;
  color: #0288d1;
  transition: all 0.25s ease-in !important;
}
.PostsTableTopbar span:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.25s ease-in !important;
}
.postsTopBarCategory {
  font-size: 12px;
  font-weight: 500;
}
.PostsTable {
  display: flex;
  justify-content: center;
}
.actionIconsContainer {
  display: flex;
  justify-content: space-around !important;
  height: 80% !important;
}
.deleteIcon {
  background-color: #ffd6d6 !important;
}
.editIconContainer {
  display: flex;
  align-items: center;
  margin-left: 10px !important;
}
.editIcon {
  background-color: #dcf9e6 !important;
}
.editBlueIcon {
  background-color: #daeffb !important;
}
.categoryChip {
  color: #fff;
  padding: 5px 15px;
  border-radius: 4px;
  background-color: #334d6e;
}
.verifiedChipStatus {
  background-color: #2ed47a !important;
  text-transform: capitalize;
}
.verifiedChipStatus2 {
  color: #23dc64 !important;
  background-color: #dcf9e6 !important;
  font-weight: 600;
  text-transform: uppercase;
}
.pendingChipStatus {
  background-color: #ffb946 !important;
  text-transform: capitalize;
}
.pendingChipStatus2 {
  color: #ffb946 !important;
  background-color: #fff3e0 !important;
  font-weight: 600;
  text-transform: uppercase;
}
.rejectedChipStatus {
  background-color: #f7685b !important;
  text-transform: capitalize;
}
.rejectedChipStatus2 {
  color: #ff0000 !important;
  background-color: #ffd6d6 !important;
  font-weight: 600;
  text-transform: uppercase;
}
.editingTopbar {
  display: flex;
  justify-content: center;
}
.editingFields {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px !important;
}
.primaryEditFields {
  display: block !important;
}
.editPrimaryInputField {
  display: block !important;
  margin-top: 20px !important;
  margin-top: 20px !important;
}
.secondaryEditFields {
  display: block !important;
  justify-content: center;
}
.editSecondaryInputField {
  display: block !important;
  margin-top: 20px !important;
  margin-top: 20px !important;
}
.tertiaryEditFields {
  display: block !important;
  justify-content: center;
}
.editTertiaryInputField {
  display: block !important;
  margin-top: 20px !important;
}
.otherEditFields {
  display: block !important;
  justify-content: center;
}
.editOtherInputField {
  display: block !important;
  margin-top: 20px !important;
  margin-top: 20px !important;
}
.chooseCategory {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.chooseCategory h2 {
  font-family: "Poppins";
  font-weight: 500;
}
.submitEditBtnContainer {
  display: flex;
  justify-content: center !important;
  margin-top: 20px;
}
.submitEditBtn {
  display: flex;
  justify-content: center !important;
  border: none;
  background: none;
  outline: none;
}
.MuiDataGrid-root.MuiDataGrid-root {
  background-color: #fff;
}
@media (max-width: 1200px) {
  .postsInfoCard {
    width: 180px !important;
    margin-bottom: 10px;
  }
}
@media (max-width: 1025px) {
  .dashboardPostsContent {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
  }
  .postsInfoCard {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .editingFields {
    display: block !important;
    margin-left: 40%;
  }
  .primaryEditFields,
  .secondaryEditFields,
  .tertiaryEditFields,
  .otherEditFields {
    margin-top: 20px;
  }
}
