.navContainer {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 -20px 60px 0 rgba(0, 0, 0, 0.2);
}
.activeLink {
  color: #0288d1 !important;
  border-bottom: 3px solid #0288d1;
  border-radius: 1px;
  padding-bottom: 5px;
}
.ui.container.navContainer {
  width: 100%;
}
.navContent {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navContainer div {
  display: flex;
}
.ui.inverted.top.fixed.menu {
  background-color: var(--white);
  /* background-image: var(--white) !important; */
}
#navbar-logo {
  width: 5em !important;
}
.navItem {
  margin-left: 20px;
  font-family: "Montserrat";
  font-weight: 600 !important;
  text-transform: uppercase !important;
  font-size: 1rem;
  color: #a2deff !important;
  transition: all 0.2s ease-in !important;
}
.navItem > a {
  color: #a2deff;
  transition: all 0.2s ease-in !important;
}
.navItem:hover {
  opacity: 0.8;
  transition: color 0.2s ease-in !important;
}
.navItem:active {
  color: #0288d1 !important;
}
.searchIconNavbar {
  transition: all 0.25s ease-in !important;
}
.searchIconNavbar:hover {
  filter: drop-shadow(5px 5px 5px #0289d180);
  cursor: pointer;
  transition: all 0.25s ease-in !important;
}
.searchInputField {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-top: 2px solid #0288d1;
  left: 0;
  top: 100px;
  width: 100%;
  min-height: 100px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 50px 60px 0 rgba(0, 0, 0, 0.3);
}
.searchInputField input {
  color: #90a0b7;
}
.searchInputField input:focus {
  /* border: 1.5px solid #0289d1; */
  box-shadow: 0 50px 36px 0 #0289d110;
  transition: all 0.25s ease-in !important;
}
.searchInputField input {
  padding: 0 50px;
  border: none;
  outline: none;
  height: 100px;
  width: 100%;
  background: white;
  color: #334d6e;
  border-radius: 4px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  transition: all 0.25s ease-in !important;
}
.navItemLogin {
  color: #199be2 !important;
}
.navItemRegister {
  color: #199be2 !important;
  border: 2px solid #199be2;
  transition: all 0.25s ease-in !important;
}
.navItemRegister:hover {
  color: #fff !important;
  background-color: #199be2 !important;
  transition: all 0.25s ease-in !important;
}
.navbarUserName {
  color: #0288d1;
  font-weight: 500;
  margin-left: 10px;
}
.navbarUserName > i {
  display: none;
}
.dropdownArrow {
  margin-left: 10px !important;
  max-width: 15px;
  max-height: 15px;
}
.dropdownArrow:hover {
  cursor: pointer;
}
.navbarDropdownMenuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
}
.navbarDropdownMenuItem:hover {
  transition: all 0.25s ease-in !important;
  background-color: #0289d110;
  cursor: pointer;
}
.userAccountImg {
  border-radius: 30px !important;
  height: 50px !important;
  width: 50px !important;
}
.navbarDropdownMenuLink {
  color: #0288d1 !important;
}
.navContentHamburger {
  display: none;
}
@media (max-width: 1025px) {
  .navContentLinks,
  .navContentSearch {
    display: none !important;
  }
  .navContent {
    display: flex;
    justify-content: space-between;
    margin: 0 5em;
  }
  .navContentHamburger {
    display: flex !important;
    min-width: 2.5em;
  }
}
