.hompageContainer {
  margin-top: 8em;
}
.homepageSlider {
  display: flex;
  justify-content: center;
  min-height: 20em;
  margin-top: 50px !important;
}
.homepageSliderArrow {
  width: 20px;
  margin: 0 20px;
  filter: invert(33%) sepia(99%) saturate(1312%) hue-rotate(177deg)
    brightness(94%) contrast(98%);
}
.homepageSliderArrow:hover {
  opacity: 0.7;
  cursor: pointer;
}
.homepageSliderImg {
  width: 100%;
  max-height: 40em;
  border-radius: 10px;
  object-fit: cover;
}
.homepageSliderContent {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.homepageCategories,
.homepagePremiumAds {
  margin-top: 50px !important;
}
.homepageCategoriesTitle h2,
.homepagePremiumAdsTitle h2 {
  font-family: "Montserrat" !important;
  color: #0288d1;
  font-weight: 600;
}
.homepageCategoriesImg,
.homepagePremiumAdsImg {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.categoryImg {
  max-width: 277px;
  max-height: 188px;
}
.cardContentTitle {
  font-size: 20px;
  font-family: "Montserrat";
  color: #0288d1;
  font-weight: 600;
}
.cardContentBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardDateContent {
  font-size: 15px;
  font-family: "Montserrat";
  color: silver;
  font-weight: 400;
}
.favoriteCardIcon {
  width: 30px;
  height: 30px;
  transition: all 0.25s ease-in !important;
}
.favoriteCardIcon:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.25s ease-in !important;
}
.premiumAdsImg {
  max-width: 250px;
  max-height: 360px;
  border-radius: 4px;
}
.homepageBanner {
  margin-top: 50px !important;
}
.homepageBanner img {
  width: 100%;
  object-fit: cover;
  max-height: 244px;
}
.homepageBannerContent{
  width: 100%;
}