.hompageContainer {
  margin-top: 8em;
}
.homepageSlider {
  display: flex;
  justify-content: center;
  min-height: 20em;
  margin-top: 50px !important;
}
.homepageSliderArrow {
  width: 20px;
  margin: 0 20px;
  filter: invert(33%) sepia(99%) saturate(1312%) hue-rotate(177deg)
    brightness(94%) contrast(98%);
}
.homepageSliderArrow:hover {
  opacity: 0.7;
  cursor: pointer;
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.homepageSliderImg {
  min-width: 100%;
  max-width: 100%;
  min-height: 40em;
  max-height: 40em;
  border-radius: 10px;
  object-fit: cover;
  animation: 1s ease-out 0s 1 slideInDown;
}
.homepageSliderContent {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.homepageCategories,
.homepagePremiumAds {
  margin-top: 50px !important;
}
.homepageCategoriesTitle h2,
.homepagePremiumAdsTitle h2 {
  font-family: "Montserrat" !important;
  color: #0288d1;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: -10px;
}
.homepagePremiumAdsContainer {
  border: 1px solid #0288d1;
  border-radius: 10px;
  padding: 5px;
  margin-top: 20px;
  transition: all 0.25s ease-in !important;
}
.homepagePremiumAdsContainer:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  opacity: 0.9;
  transition: all 0.25s ease-in !important;
}
.homepageCategoriesImg,
.homepagePremiumAdsImg {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}
.categoryImg {
  max-width: 277px;
  max-height: 188px;
  margin-top: 10px;
  border-radius: 10px;

  transition: all 0.25s ease-in !important;
}
.categoryImg:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.25s ease-in !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
.cardContentTitle {
  font-size: 20px;
  font-family: "Montserrat";
  color: #334d6e;
  font-weight: 500;
}
.cardContentBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
}
.cardDateContent {
  font-size: 15px;
  font-family: "Montserrat";
  color: silver;
  font-weight: 400;
}
.favoriteCardIcon {
  width: 30px;
  height: 30px;
  transition: all 0.25s ease-in !important;
}
.favoriteCardIcon:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.25s ease-in !important;
}
.premiumAdsImg {
  max-width: 250px;
  max-height: 360px;
  border-radius: 4px;
}
.homepageBanner {
  margin-top: 50px !important;
}
.homepageBanner img {
  width: 100%;
  object-fit: cover;
  max-height: 244px;
}
.homepageBannerContent {
  width: 100%;
}
.categoryChipStatus {
  margin-top: 10px;
  transition: all 0.25s ease-in !important;
}
.categoryChipStatus:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.25s ease-in !important;
}
