* {
  font-family: "Poppins" !important;
}
h1,h2,h3{
  color: #334d6e;
}
.dashboardContainer {
  display: flex;
  width: 100% !important;
}
.dashboardSidebar {
  position: fixed;
  overflow: hidden;
  width: 15%;
  min-height: 100vh;
  background-color: #ffffff;
}
.dashboardContent {
  margin-left: 15%;
  width: 85%;
  min-height: 100vh;
  background-color: #f7f8fc;
}
.dashboardRouteContent {
  margin: 30px;
}
.dashboardLogoContainer,
.dashboardUserContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboardLogo {
  width: 42px;
  height: 50px;
  margin-top: 10px;
}
.dashboardLogoContainer span {
  font-size: 19px;
  font-family: 700;
  color: #0288d1;
  margin-left: 10px;
}
.dashboardUserContainer {
  margin-top: 30px;
}
.sidebarUsername {
  margin-top: 0px;
  margin-left: 10px;
  color: #334d6e;
}
.sidebarUserEmail {
  font-weight: 400;
  font-size: 11px;
  color: #90a0b7;
  padding: 0;
  margin: 0;
  margin-top: -10px;
  margin-left: 10px;
}
.dashboardLinks {
  margin-top: 20px;
}
.dashboardLink {
  padding: 10px 0;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  margin-left: 24px;
  margin-bottom: 10px;
  align-items: center;
  border-left: 4px solid #ffffff00;
  transition: all 0.25s ease-in !important;
}
.dashboardLinkA {
  display: flex;
}
.dashboardLink:hover {
  border-left: 4px solid #0288d1;
  transition: all 0.25s ease-in !important;
  background-color: #0289d110;
  cursor: pointer;
}
.dashboardLinkIcon {
  max-width: 20px;
  max-height: 20px;
}
.dashboardLinkName {
  font-weight: 500;
  color: #334d6e;
  margin-left: 15px;
}
.dashboardLinkNameActive {
  color: #0288d1;
}
.dashboardLinkNameActive:hover ~ .dashboardLink {
  border-left: 4px solid #0288d1;
}
.dashboardHr {
  outline: none;
  border-bottom: 1px solid #c2cfe0;
}
.MuiDataGrid-row.Mui-selected{
  background-color: #0289d110 !important;
}
.MuiCheckbox-colorPrimary.Mui-checked{
  color: #0288d1 !important;
}
.MuiRadio-colorSecondary.Mui-checked {
  color: #0288d1 !important;
}
.MuiRadio-colorSecondary:hover{
  background-color: rgba(197, 220, 250, 0.2) !important;
}
.MuiRadio-colorSecondary.Mui-checked:hover{
  background-color: rgba(197, 220, 250, 0.5) !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  border-color: #0288d1 !important;
}
.MuiButton-containedPrimary{
  background-color: #0288d1 !important;
}