.footerContainer {
  margin-top: 50px;
  min-height: 235px;
  background-color: #fff;
  box-shadow: 0 -20px 60px 0 rgba(0, 0, 0, 0.2);
}
.footerContent {
  display: flex;
  justify-content: space-between;
  padding-top: 35px !important;
  font-family: "Montserrat";
  margin-left: 60px;
  max-width: 90%;
}
.footerLogo {
  max-width: 90px;
  max-height: 110px;
}
.footerAboutUs {
  color: #bdbdbd;
  margin-top: 20px;
  max-width: 500px;
}
.footerMenu {
  display: flex;
}
.footerMenu .navItem {
  margin-left: 40px;
}
.footerRegister {
  margin-top: -20px;
}
.footerSocial{
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
  align-items: center !important;
}
.footerSocial img{
  display: flex;
  align-items: center !important;
}
.footerDashboard{
  display: flex;
  align-items: center;
  font-family: 'Montserrat';
  font-weight: 500;
  background: none;
  outline: none;
  border: none;
  padding: 15px 25px;
  background-color: #0288D1;
  color: #fff;
  transition: all 0.25s ease-in !important;
}
.footerDashboard span{
  margin-left: 10px;
}
.footerDashboard:hover{
  cursor: pointer;
  opacity: .8;
  transition: all 0.25s ease-in !important;
}
.footerCopyright{
  display: flex;
  justify-content: center;
  color: #A2DEFF;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}
